In [1]:
import sys, os
import numpy as numpy
import pandas as pd

In [16]:
filename = "/work/cool-programmer-astrid/ABC-dataset/dev/data/professions/stats_ungrouped.csv"
df = pd.read_csv(filename, sep='\t')
df.head()

,Ocupation (english),Groups-da,Perc-da,Groups-sv,Perc-sv,Groups-ru,Perc-ru,Perc-zh,Groups-en,Perc-en,Unnamed: 10
0,technician,2.0,23.0,1.0,18.0,1.0,19.0,51.0,2,40.34.00,40.34.00
1,accountant,1.0,20.0,3.0,58.0,4.0,72.0,NaN,3,59.07.00,59.07.00
2,supervisor,NaN,NaN,NaN,NaN,NaN,NaN,43.0,2,38.64,38.64
3,engineer,2.0,23.0,2.0,24.0,2.0,25.0,23.0,1,"0,466666667","0,466666667"
4,worker,NaN,NaN,3.0,45.0,NaN,NaN,NaN,2,37.92,37.92

In [19]:
sorted=df.sort_values('Perc-da')
sorted.iloc[30:,]['Ocupation (english)'].values

array(['cashier', 'lawyer', 'clerk', 'pathologist', 'specialist',
       'educator', 'teacher', 'salesperson', 'librarian', 'pharmacist',
       'psychologist', 'veterinarian', 'secretary', 'therapist',
       'receptionist', 'dietitian', 'hairdresser', 'nutritionist',
       'hygienist', 'nurse', 'supervisor', 'worker', 'counselor',
       'inspector', 'advisor', 'investigator', 'planner', 'instructor',
       'examiner', 'paralegal'], dtype=object)

In [32]:
path = os.getcwd()
print("path:", os.path.join(path, "data","abc","coref_lm.da"))
# load the data
with open(os.path.join(path, "data","abc","coref_lm.da"), "r") as f:
    data = f.readlines()

# remove the ---\n from the data
data_ = [line_[:-2] for line_ in data if line_ != '---\n']
data_[:5]

path: /work/cool-programmer-astrid/ABC-dataset/dev/data/abc/coref_lm.da

['teknikeren mistede sin tegnebog ved huset',
 'teknikeren mistede hans tegnebog ved huset',
 'teknikeren mistede hendes tegnebog ved huset',
 'teknikeren mister sin tegnebog ved huset',
 'teknikeren mister hans tegnebog ved huset']

In [35]:
professions = [p.split()[0] for p in data_]
set(professions)

{'administratoren',
 'advokaten',
 'advokatsekretær',
 'arbejderen',
 'arkitekten',
 'auditøren',
 'bageren',
 'bartenderen',
 'betjenten',
 'bibliotekaren',
 'blikkenslageren',
 'brandmanden',
 'diætisten',
 'dyrlægen',
 'efterforskeren',
 'ejendomsmægleren',
 'eksaminatoren',
 'ekspedienten',
 'elektrikeren',
 'ernæringsfysiologen',
 'farmaceuten',
 'forskeren',
 'frisøren',
 'ingeniøren',
 'inspektøren',
 'instruktøren',
 'kassemedarbejderen',
 'kemikeren',
 'kirurgen',
 'kokken',
 'lederen',
 'lægen',
 'læreren',
 'maleren',
 'maskinmester',
 'mekanikeren',
 'operatøren',
 'paramedicineren',
 'patologen',
 'pedellen',
 'planlæggeren',
 'programmøren',
 'psykologen',
 'receptionisten',
 'revisoren',
 'rådgiveren',
 'sekretæren',
 'specialisten',
 'sygeplejersken',
 'sælgeren',
 'taksatoren',
 'tandplejeren',
 'teknikeren',
 'terapeuten',
 'tømreren',
 'underviseren',
 'vejlederen'}